    @import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

    *{
        box-sizing: border-box;  
        margin:30;
        bottom:20;
    }

    body{
        font-family: 'Patrick Hand', cursive;
        background-color: rgb(233, 221, 245);
        line-height: 1,5;
        font-size: 20px;
        color: rgba(49, 46, 56, 0.751);
    }

    .myDiv h1{
    
    display: flex;
    justify-content: center;
        align-items: center;
    }
    .myDiv {
        
        display:grid;
        margin: 40px;
        bottom: 20px;
    }

    
    ul li {
        cursor: pointer;
        position: relative;
        padding: 12px 8px 12px 40px;
        background: #e2c2f7;
        font-size: 18px;
        transition: 0.2s;
      
        /* make the list items unselectable */
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select:none;
        user-select: none;
      }
      ul li:nth-child(odd) {
        background: #eecaf8;
      }
      
      /* Darker background-color on hover */
      ul li:hover {
        background: #d09be1;
      }
      
      /* When clicked on, add a background color and strike out text */
      ul li.checked {
        background: #7d60cb;
        color: #fff;
        text-decoration: line-through;
      }
      
      /* Add a "checked" mark when clicked on */
      ul li.checked::before {
        content: '';
        position: absolute;
        border-color: #fff;
        border-style: solid;
        border-width: 0 2px 2px 0;
        top: 10px;
        left: 16px;
        transform: rotate(45deg);
        height: 15px;
        width: 7px;
      }
      
      /* Style the close button */
      .close {
        background-color:rgb(222, 197, 238);
        position: absolute;
        right: 0;
        top: 0;
        padding: 12px 16px 12px 16px;
      }
      
      .close:hover {
        background-color: #9f60cc;
        color: rgb(70, 58, 58);
      }
      
      /* Clear floats after the header */
      .myDiv h1:after {
        content: "";
        display: table;
        clear: both;
      }
      
      /* Style the input */
      input {
        font-family: 'Courier New', Courier, monospace;
        margin: 0;
        border: none;
        border-radius: 0%;
        width: 75%;
        padding: 10px;
        float: left;
        font-size: 16px;
      }
      
      /* Style the "Add" button */
      .button{
        display: flex;
        justify-content:center;
        align-items: center;
        background-color: rgb(158, 126, 173);
        color: #ddd;
        width: 20%;
        padding: 9px;
        float: left;
        font-size: 16px;

     }
     
     .search {
        display: flex;
        justify-content:center;
        align-items: center;
        color: #555;
        float: left;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s;
        border-radius: 0;
     }
      
      
      .search:hover {

        display: flex;
        align-items: center;
        justify-content: center;
      }